{% extends 'layout.html' %}
{% load static %}
{% block title %}
    计分板
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/board.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="race_name" id="race_name"></div>
        <div id="timer" class="timer">
            <span>比赛已进行：</span><span id="min">--</span>分<span id="sec">--</span>秒
{#            <span id="msec">--</span>#}
            <span id="race_status">loading</span>
        </div>
        <div class="board">
            <div class="chart" id="team1">
                <div></div>
                <div style="font-size: 400%"></div>
                <div style="font-size: 400%;">loading</div>
            </div>
            <div class="colon">:</div>
            <div class="chart" id="team2">
                <div></div>
                <div style="font-size: 400%"></div>
                <div style="font-size: 400%;">loading</div>
            </div>
        </div>
        <div class="text">此计分板由康福计算机应用社谭期元和谢鸿哲开发</div>
    </div>
{% endblock %}
