{% extends 'layout.html' %}
{% load static %}
{% block title %}
    计分板
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/board.css' %}">
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/update_information_polling.js' %}"></script>
    <!-- <script src="{% static 'js/update_information_websocket.js' %}"></script> -->
{% endblock %}


{% block content %}
    <div class="container">
        <div class="race_name" id="race_name">loading</div>
        
        <div class="board">
            <div class="chart" id="team1">
                <div id="team1_score"></div>
                <div id="team1_total_score" style="font-size: 400%"></div>
                <div id="team1_name" style="font-size: 400%;">loading</div>
            </div>
            <div class="colon">:</div>
            <div class="chart" id="team2">
                <div id="team2_score"></div>
                <div id="team2_total_score" style="font-size: 400%"></div>
                <div id="team2_name" style="font-size: 400%;">loading</div>
            </div>
        </div>
        
        <div class="timer">
            <div id="timerDisplay" style="font-size: 350%">loading</div>
        </div>
        
        <div class="text">此计分板由康福计算机应用社谭期元和谢鸿哲开发</div>
    </div>
{% endblock %}
