{% extends 'layout.html' %}
{% load static %}
{% block title %}
    计分板
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/board.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div id="min"></div>分
        <div id="sec"></div>秒
        <div id="msec"></div>
        <div class="chart" id="team1">
            <div></div>
            <div>loading</div>
        </div>
        <div class="colon">:</div>
        <div class="chart" id="team2">
            <div></div>
            <div>loading</div>
        </div>
        <div class="text">此计分板由谭期元(原神玩家)和谢鸿哲共同开发</div>
    </div>
{% endblock %}
