{% extends 'layout.html' %}
{% load static %}
{% block title %}
    比赛控制
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/control.css' %}">
{% endblock %}

{% block scripts %}
    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/control.js' %}"></script>
    <script src="{% static 'js/timber.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container" style="max-width: 114514px">
        <div class="" id="race_control" style="top: 10%">
            <div class="row">
                <div class="col-md-12">
                    <div class="card" style="">
                        <div class="card-header">
                            <h3 class="card-title">比赛控制</h3>
                        </div>
                        <div class="card-body">
                            <button onclick="set_timer('start')" class="btn btn-primary" id="startbtn">开始</button>
                            <button onclick="set_timer('pause')" class="btn btn-primary" id="pausebtn">暂停</button>
                            <button onclick="set_timer('resume')" class="btn btn-primary" id="resumebtn">恢复</button>
                            <button onclick="exchange()" class="btn btn-primary" id="resumebtn">换场</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="" id="race_control" style="top: 10%">
            <div class="row">
                <div class="col-md-12">
                    <div class="card" style="">
                        <div class="card-header" id="team1">
                            <h3 class="card-title">team1</h3>
                        </div>
                        <div class="card-body">
                            <button onclick="updateScore(1,0)" class="btn btn-primary" id="startbtn">+</button>
                            <button onclick="updateScore(-1,0)" class="btn btn-primary" id="pausebtn">-</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="" id="race_control" style="top: 10%">
            <div class="row">
                <div class="col-md-12">
                    <div class="card" style="">
                        <div class="card-header" id="team2">
                            <h3 class="card-title">team2</h3>
                        </div>
                        <div class="card-body">
                            <button onclick="updateScore(0,1)" class="btn btn-primary" id="startbtn">+</button>
                            <button onclick="updateScore(0,-1)" class="btn btn-primary" id="pausebtn">-</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="/admin" >比赛设置</a>
    </div>
{% endblock %}
