{% extends 'layout.html' %}
{% load static %}
{% block title %}
    比赛控制
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/bootstrap.min.js' %}"></script>
    <script>
        function set_timer(act) {
            $.ajax({
                url: '/set_timer/',
                type: 'post',
                data: {
                    action: act
                },
                success: function (res) {
                    //console.log(res);
                    update_race_status();
                }
            });
        }

        function update_race_status() {
            fetch('/request_score/')
                .then(response => response.json())
                .then(data => {
                    if (data.timer.start === data.timer.end) {
                        document.getElementById('startbtn').classList = "btn btn-primary";
                        document.getElementById('pausebtn').classList = "btn btn-primary disabled";
                        document.getElementById('resumebtn').classList = "btn btn-primary disabled";
                    } else if (data.timer.end) {
                        document.getElementById('startbtn').classList = "btn btn-primary disabled";
                        document.getElementById('pausebtn').classList = "btn btn-primary disabled";
                        document.getElementById('resumebtn').classList = "btn btn-primary";
                    } else {
                        document.getElementById('startbtn').classList = "btn btn-primary disabled";
                        document.getElementById('pausebtn').classList = "btn btn-primary";
                        document.getElementById('resumebtn').classList = "btn btn-primary disabled";
                    }
                })
        }

        function updateTeamNames() {
            fetch('update_raceinfo/')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('team1').children[1].innerText = data.team1.name;
                    document.getElementById('team2').children[1].innerText = data.team2.name;
                    // document.getElementById('race-name').innerText = data.race_name;
                })
                .catch(error => console.error('Error fetching team names:', error));
        }

        function updateScore(team, delta){
            $.ajax({
                url: '/set_timer/',
                type: 'post',
                data: {
                    team: team,
                    delta: delta
                },
                success: function (res) {
                    console.log(res);
                }
            });
        }

        update_race_status();
        updateTeamNames();
    </script>
{% endblock %}

{% block content %}
    <div class="container" style="max-width: 114514px">
        <div class="" id="race_control" style="top: 10%">
            <div class="row">
                <div class="col-md-12">
                    <div class="card" style="">
                        <div class="card-header">
                            <h3 class="card-title">比赛控制</h3>
                        </div>
                        <div class="card-body">
                            <button onclick="set_timer('start')" class="btn btn-primary" id="startbtn">开始</button>
                            <button onclick="set_timer('pause')" class="btn btn-primary" id="pausebtn">暂停</button>
                            <button onclick="set_timer('resume')" class="btn btn-primary" id="resumebtn">恢复</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="score_control">
            <span id="team1"></span><button onclick="" class="btn btn-primary" id="startbtn">+</button>
        </div>
    </div>
{% endblock %}

