{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/board.css' %}">
    <link href="{% static 'img/tqy.jpg' %}" rel="icon" type="image/png">
    <script src="{% static 'js/board.js' %}"></script>
    {% block style %}
        <style>
            @font-face {
                font-family: 'JetBrainsMono';
                src: url('{% static 'fonts/JetBrainsMono-Regular.woff2' %}') format('woff2');
            }
            * {
                font-family: 'JetBrainsMono', Arial, sans-serif;
            }
        </style>
    {% endblock %}
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>