* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style for container */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.top_photo {
    position: absolute;
    top: 35px;
    left: 0;
    right: 0;
    margin: auto;
}

.text {
    position: absolute;
    font-size: 30px;
    bottom: 0;
    left: 0;
}


.chart {
    min-height: 500px;
    max-width: 600px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border: 2px solid #ffffff;
    border-radius: 10px;
    margin: 0 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.chart > div:nth-child(1) {
    font-size: calc(10vw + 12px);
    max-width: 100%;
    display: block;
    word-wrap: break-word;
}

.chart > div:nth-child(2) {
    font-size: calc(2vw + 12px);
    max-width: 100%;
    display: block;
    word-wrap: break-word;
    text-align: center;
}


.colon {
    font-size: 3em;
    font-weight: bold;
    margin: 0 20px;
    color: #333;
}
