* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* Style for the timer section */
.timber {
    position: absolute;
    top: 100px;
    width: 100%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 7em;
    color: #333;
}

#min, #sec, #msec {
    display: inline-block;
    margin: 0 5px;
}

/* Existing styles */
.board {
    margin-top: -170px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vh;
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column; /* 确保子元素垂直排列 */
    justify-content: center; /* 水平居中对齐 */
    align-items: center; /* 垂直居中对齐 */
    height: 100vh;
    background-color: #ffffff;
    padding: 20px;
}

.race_name {
    text-align: center; /* 文本居中对齐 */
    width: 100%; /* 占满整个容器宽度 */
    margin-top: 50px;
    font-size: 7em;
    color: #333; /* 字体颜色 */
    z-index: 9999;
}


.text {
    position: absolute;
    font-size: 25px;
    bottom: 0;
    color: #535353;
}


.chart {
    min-height: 500px;
    max-width: 600px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border: 2px solid #ffffff;
    border-radius: 10px;
    margin: 0 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.chart > div:nth-child(1) {
    font-size: calc(10vw + 12px);
    max-width: 100%;
    display: block;
    word-wrap: break-word;
}

.chart > div:nth-child(2) {
    font-size: calc(2vw + 12px);
    max-width: 100%;
    display: block;
    word-wrap: break-word;
    text-align: center;
}


.colon {
    font-size: 3em;
    font-weight: bold;
    margin: 0 20px;
    color: #333;
}

.timer {
    position: absolute;
    font-size: 30px;
    margin-block: auto;
    bottom: 10%
}